@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<RF.Modules.UIElements.RF.Modules.UIElements.Models.HeroSettings>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id=rf-uielements-hero" style="background-image: url('@Model.ImagePath')">
    <h1>@Model.Title</h1>
</div>
