@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<RF.Modules.UIElements.Models.HeroSettings>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div class="rf-uielements-spotlight">
    <div class="title-bar">
        <h1>Spotlight</h1>
    </div>
</div>
