/******************************************************************************
 *
 *   Copyright Corvinus University of Budapest, Budapest, HUN.
 *
 * ---------------------------------------------------------------------------
 *   This is a part of the RF.Modules.UIElements project
 *
 *****************************************************************************/

$title-font-size: 66pt;

.rf-uielements-hero {
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;

    .title-bar {
        position: relative;
        top: 45vh;
        width: 100vw;

        h1 {
            position: relative;
            margin-left: 80px;
            font-size: $title-font-size;
            margin-bottom: 22pt;
        }
    
        .bar {
            font-size: $title-font-size;
            position: relative;
            width: 100vw;
    
            rect {
                fill: #ED7D31;
    
            }
        }

    }

}
