

.rf-uielements-hero {
  position: relative;
  top: -102px;
  left: 0;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: -102px;
}
.rf-uielements-hero .title-bar {
  position: relative;
  top: 60vh;
  width: 100vw;
}
.rf-uielements-hero .title-bar h1 {
  position: relative;
  margin-left: 80px;
  font-size: 66pt;
  margin-bottom: 22pt;
}
.rf-uielements-hero .title-bar .bar {
  font-size: 66pt;
  position: relative;
  width: 100vw;
}
.rf-uielements-hero .title-bar .bar rect {
  fill: #ED7D31;
  opacity: 0.8;
}