/******************************************************************************
 *
 *   Copyright Corvinus University of Budapest, Budapest, HUN.
 *
 * ---------------------------------------------------------------------------
 *   This is a part of the RF.Modules.TestFlightAppointment project
 *
 *****************************************************************************/
 
 table.tf-booking-grid {
    width: 100%;
    & .not-available {
        background-color: #ccc;
        color: #888;
    }
    
    & .booked {
        background-color: #ccccff;
        color: black;
    }
    
    & .free {
        background-color: white;
        color: black;
    }
}

